.card-container {
    width: 100%;
    max-width: 354px;
    height: 236px;
    padding: 10px; 
    margin: 0 auto; 
    border-radius: 16px;
    background: var(--50, #ffffff);

    display: flex;
    flex-direction: column;
  
    .img-title {
      display: flex;
      gap: 8px;
      align-items: center;
  
      .icon {
        width: 48px;
        height: 48px;
      }
  
      .title {
        font-size: 20px;
        font-weight: 600;
        color: var(--600, #475569);
      }
    }
  
    .card-desc {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: var(--500, #64748B);
      line-height: 23.68px;
      padding-top: 30px;
      padding-right: 20px;
    }
}
  